<div class="container bg-dark text-white"  style="width: 550px; border-radius: 7px;margin-top:30px;margin-bottom:0;; padding:15px;" >
  <h3 class="center-align">Registrate</h3>
  <article class="col s6 offset-s3">
      <form [formGroup]="fgValidador" method="POST" (ngSubmit)="GuardarPersona()" action="">
          <div class="input-field" style="margin: 15px;">
              <label for="nombres" style= "text-align:center; margin-bottom:10px;">Nombres</label>
              <input formControlName="nombres" type="text" name="nombres" required style=" text-align:center; border-radius: 5px; background:white;  padding-left:3px;">
          </div>
          <div class="input-field" style="margin: 15px;">
              <label for="apellidos">Apellidos</label>
              <input formControlName="apellidos" type="text" name="apellidos" required style=" text-align:center; border-radius: 5px; background:white; padding-left:3px;">
          </div>
          <div class="input-field" style="margin: 15px;">
            <label for="correo">Correo</label>
            <input formControlName="correo" type="text" name="correo" required style=" text-align:center; border-radius: 5px; background:white; padding-left:3px;">
        </div>
        <div class="input-field" style="margin: 15px;">
          <label for="celular">Celular</label>
          <input formControlName="celular" type="text" name="celular" required style=" text-align:center; border-radius: 5px; background:white; padding-left:3px;">
        </div>
        <div class="input-field" style="margin: 15px;">
          <label for="rol">Rol</label>
          <input formControlName="rol" type="text" name="rol" required style=" text-align:center; border-radius: 5px; background:white; padding-left:3px;">
      </div>
          <p class="center-align">
              <button [disabled]="!fgValidador.valid" class="btn btn-outline-light btn-lg px-5" type="submit">Enviar</button>
          </p>
      </form>
  </article>
</div>
