
  <section class=" gradient-custom">
    <div class="container py-5 h-50">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem; margin-top:-10px; height:470px; margin-bottom: -5rem;" >
            <div class="card-body p-5 text-center">

              <div class="mb-md-5 mt-md-4 pb-5">

                <h2 class="fw-bold mb-2 text-uppercase">Iniciar Sesión</h2>
                <p class="text-white-50 mb-5">¡Por favor, introduzca su usuario y contraseña!</p>
                <form [formGroup]="fgValidador" (ngSubmit)="IdentificarUsuario()">

                <div class="form-outline form-white mb-4">
                   <label class="form-label" for="email">Correo</label>
                  <input formControlName="usuario" type="email" id="email" class="  form-control form-control-lg validate" style=" text-align:center; border-radius: 5px;  background:white" />

                </div>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="Password">Contraseña</label>
                  <input formControlName="clave" type="password" id="Password" class="form-control form-control-lg validate" style=" text-align:center; border-radius: 5px; background:white"/>

                </div>
                <button [disabled]="!fgValidador.valid" class="btn btn-outline-light btn-lg px-5" style="margin-top:8px;"type="submit" name="action">Iniciar Sesión</button>

              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
